<div class="main-container">
  <div class="grid-container">
    <div class="card card--2x">
      <div class="card__content big-script padding-large">
        <p>Turn your ideal home into a reality.</p>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="assets/image/cocacola.jpg"
        />
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="assets/image/img4.jpeg"
        />
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <p>
          <em>Home is where one starts from</em>
        </p>
        <p>—  T.S. Eliot</p>
      </div>
    </div>
    <div class="card card--horizontal">
      <div class="card__image">
        <img
          src="assets/image/img8.jpeg"
        />
      </div>
    </div>
    <div class="card card--featured">
      <div class="card__side-by-side--m">
        <div class="card__image">
          <img
            src="/assets/image/img5.jpeg"
          />
        </div>
        <div class="card__content padding-large--l">
          <h2>Crafting Your Dream Space.</h2>
          <p>
            In our interior design shop, customer satisfaction isn't just a goal; it's our guiding principle. We believe
             in crafting unforgettable experiences that go beyond mere transactions. Our dedicated team of designers listens
          </p>
          <p>
            intently to your needs, ensuring every aspect of your vision is realized. From personalized consultations to 
            meticulous attention to detail, we strive to exceed your expectations at every turn
          </p>
          <div class="card__button" [routerLink]="['/gallery']">Explore Our Works...</div>
        </div>
      </div>
    </div>
    <div class="card card--vertical">
      <div class="card__image">
        <img
          src="/assets/image/smogbottle.jpg"
        />
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="assets/image/leavesrock.jpg"
        />
      </div>
    </div>
    <div class="card card--horizontal">
      <div class="card__side-by-side">
        <div class="card__image">
          <img
            src="assets/image/img4.jpeg"/>
        </div>
        <div class="card__content">
          <h3>Letter to My Daughter</h3>
          <p>
            The ache for home lives in all of us, the safe place where we can go as we are and not be questioned
          </p>
        </div>
      </div>
    </div>
    <div class="card card--vertical">
      <div class="card__image">
        <img
          src="assets/image/bluewater.jpg"
        />
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="assets/image/img11.jpeg"
        />
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <p><em>There is nothing like staying at home for real comfort.</em></p>
        <p>— Jane Austen</p>
      </div>
    </div>
    <div class="card card--2x">
      <div class="card__image">
        <img
          src="assets/image/img6.jpeg"
        />
      </div>
    </div>
    <div class="card card--horizontal card--frameless">
      <div class="card__content big-script">
        <p>ARCHIGRAM</p>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="assets/image/img12.jpeg"
        />
      </div>
    </div>
    <div class="card card--horizontal">
      <div class="card__image">
        <img
          src="assets/image/img7.jpeg"
        />
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="assets/image/collapse3.jpg"
        />
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <p>
          <em
            >Home is the place where, when you have to go there, they have to take you in.</em
          >
        </p>
        <p>— Robert Frost</p>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="assets/image/img13.jpeg"
        />
      </div>
    </div>
  </div>
</div>
