<!--cta section start-->
<section id="cta" class="cta" [style.background]="'linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(' + imageUrl + ') fixed center center/cover'" [style.padding]="'120px 0'">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <h3>Embark on an ARCHIGRAM Adventure</h3>
        <p> Where dreams flourish, and memories begin, our space is a sanctuary of creativity, a canvas for your imagination. Here, every corner holds the promise of a new story, every detail whispers of possibilities untold. </p>
        <a class="main-btn" [routerLink]="routerLink">Call To Action <i class="fas fa-chevron-right"></i> </a>
      </div>

    </div>
  </section>
