<div class="about-container">
    <div class="section-title">
        <span>About LOGO</span>
        <h2>About LOGO</h2>
      </div>
    <div class="wrap animate pop">
		<div class="overlay">
			<div class="overlay-content animate slide-left delay-2">
				<h1 class="animate slide-left pop delay-4">Interiors</h1>
				<p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Kingdom: <em>Interior</em></p>
			</div>
			<div class="image-content animate slide delay-5"></div>
					<div class="dots animate">
						<div class="dot animate slide-up delay-6"></div>
						<div class="dot animate slide-up delay-7"></div>
						<div class="dot animate slide-up delay-8"></div>
					</div>
		</div>
			<div class="text">
				<p><img class="inset" src="/assets/img/architecture-1477098_1920.jpg" alt="" />We began our journey a decade back in 2011, with a team of dedicated professionals  <em>Plantae</em>. All species of trees are grouped by their genus, family, and order. This helps make identifying and studying trees easier.</p>
				<p>Apart from providing oxygen for the planet and beauty when they bloom or turn color, trees are very useful. Certain species of hardwood and softwood trees are excellent for timber, making furniture, and paper.</p>
				<p>When managed properly, trees are a good source of renewable energy and construction material.</p>
			</div>
	</div>
</div>