<!-- <div class="google-map">
    <iframe src="https://maps.google.com/maps?q=chanthappady+ponnani&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="google-map">
                <iframe class="mb-4 mb-lg-0" src="https://maps.google.com/maps?q=chanthappady+ponnani&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>