/* .google-map {
    position: relative;
    background-color: blue;
    margin-bottom: 2rem;
}
.google-map iframe {
    height: 35vh;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
} */