<div class="contact-card">
    <div class="container">
        <div class="content">
          <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic">Address</div>
              <div class="text-one">Malappuram</div>
              <div class="text-two">Ponnani p.o</div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic">Phone</div>
              <div class="text-one">+91 8089385338</div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">archigram38@gmail.com</div>
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Free to ask me </div>
            <p>Step into a world where creativity knows no bounds, where every corner becomes a canvas, and every room a masterpiece. At our interior designing and consultation service, the magic begins at 9:00 AM and continues until 6:00 PM, Monday through Friday. Our team of visionary designers and consultants are fueled by passion and dedication, ready to transform your space into a sanctuary of style and sophistication. From concept to completion, we immerse ourselves in every detail, crafting bespoke designs that exceed your wildest dreams. With us, your vision becomes reality, and your home becomes a work of art. Experience the extraordinary – schedule your consultation today</p>
          
              <div class="f_social_icon">
                <a href="https://www.facebook.com/Archigramarchitecture" class="fab fa-facebook"></a>
                <a href="https://www.instagram.com/archigram_architecture?igsh=MWlncXRkbXVuMTk2cQ%3D%3D&utm_source=qr" class="fab fa-instagram"></a>
                <a href="https://www.youtube.com/@archigram2554" class="fab fa-youtube"></a>
            </div>
            </div>
     
        </div>
      </div>
      
</div>

