<div class="home-container">
  <app-hero></app-hero>
<app-icon></app-icon>
<section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <span>About LOGO</span>
        <h2>About LOGO</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>start out journey</h3>
          <p>"RAK Interiors, a premier interior design firm based in Kochi, has been tirelessly crafting exquisite spaces since 2011. From elegant residences to inviting bedrooms, from functional commercial areas to inspiring office environments, we specialize in delivering distinctive designs tailored to your needs.
            At RAK Interiors, we prioritize not only aesthetics but also your comfort. Whether it's creating a sanctuary for relaxation in your bedroom, designing a home theater for binge-worthy entertainment, crafting a kitchen that complements your culinary adventures, or fashioning an office space to fuel your creativity, we infuse every project with a touch of innovation.
            When you partner with us, your vision becomes our mission. Let RAK Interiors transform your dream space into a tangible reality."</p>
        </div>
      </div>
    </div>
  </section>

  <app-slide-card></app-slide-card>
  <!--image slider-->
  
  <app-cta imageUrl="/assets/img/hero.jpg"></app-cta>
  <!--image blog end section-->
  <app-collapse-blog></app-collapse-blog>
  


  <!--main section end-->
</div>

  <!-- <img src="/frontend/src/assets/img/cta.jpg" alt=""> -->