<div class="home-container">
  <app-hero></app-hero>
<app-icon></app-icon>
    <!--image blog end section-->
    <app-collapse-blog></app-collapse-blog>
      <!--image slider-->
  <app-cta imageUrl="/assets/image/cta.jpeg"></app-cta>

<section id="about" class="about">
    <div class="container">
      <div class="section-title mt-3" div data-aos="fade-down">
        <span>About ARCHIGRAM</span>
        <h2>About ARCHIGRAM</h2>
      </div>
      <div class="row">
        <!-- <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="" class="img-fluid" alt="">
        </div> -->
        <div class="col-lg-12 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <p class="p-1 mb-4">
            Your dream home isn't just a vision—it's a destination waiting to be realized, an oasis of comfort and joy where your aspirations take shape. With each stroke of design and every meticulous detail, we bring your dreams to life, turning imagination into tangible reality. From the grandeur of architectural marvels to the warmth of cozy corners, your dream home emerges as a sanctuary, a reflection of your unique essence and deepest desires. Together, let's embark on a journey where dreams meet reality, and where every moment resonates with the fulfillment of your aspirations. Welcome to the journey where your dream home comes true, this instance
          </p>
        </div>
      </div>
    </div>
  </section>




  


  <!--main section end-->
</div>

  <!-- <img src="/frontend/src/assets/img/cta.jpg" alt=""> -->