.about{
    background-color: #f5f5f5;
}
.about .content h3 {
    font-weight: 600;
    font-size: clamp(20px, 4vw, 24px);
    text-align: center;
    margin-top: 2rem;
  }
  .about .content p{
    text-align: center;
    font-size: clamp(14px, 4vw, 16px);
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cc1616;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  .about .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .about .container .content{
    width: 60%;
  }
 /* image slider  */
 
 /* ......................... */


@media (max-width:768px){
  .about .container .content{
    width: 100%;
  }
}