<div id="mainNavigation">
    <nav role="navigation" class="navigation">
      <div class="image py-3 text-center border-bottom">
        <img src="assets/image/LOG 01 1.png" alt="" class="invert">
      </div>
    </nav>
    <div class="navbar-expand-md">
      <div class="navbar-dark text-center my-2">
        <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
        </button>
      </div>
      <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['home']" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['gallery']" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contact']" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>