<div class="main">
    <div class="gallery">
        <img src="/assets/img/ece-kocaman-lifeofpix-ecekocaman2132-309751.jpg" alt="a hot air balloon">
        <img src="/assets/img/house-1477041_1920.jpg" alt="a clock">
        <img src="/assets/img/modern-residential-district-with-green-roof-balcony-generated-by-ai.jpg" alt="a sky photo of an old city">
        <img src="/assets/img/architecture-1477094_1920.jpg" alt="a small boat">
        <img src="/assets/img/architecture-1477098_1920.jpg" alt="a lonely man :(">
        <img src="/assets/img/architecture-1477101_1920.jpg" alt="a forest">
      </div>
</div>
